<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cegep.sportify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SportifyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sportify"
        android:usesCleartextTraffic="true">

        <activity android:exported="true" android:name=".details.productdetails.ProductDetailsActivity" />
        <activity android:exported="true" android:name=".details.equipmentdetails.EquipmentDetailsActivity" />

        <activity
            android:name=".SavedItems.ViewSaveditemsActivity"
            android:exported="true" />

        <activity android:exported="true" android:name=".SignUpActivity" />
        <activity android:exported="true" android:name=".SettingsActivity" />
        <activity android:exported="true" android:name=".OrderActivity" />
        <activity android:exported="true" android:name=".ProfileActivity" />
        <activity android:exported="true" android:name=".SavedAddressActivity" />
        <activity android:exported="true" android:name=".SavedCardActivity" />
        <activity android:exported="true" android:name=".ResetPasswordActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity android:exported="true"
            android:name=".MainActivity"
            android:launchMode="singleTop" />

        <activity android:exported="true" android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:exported="true" android:name=".checkout.ShoppingCartActivity" />
        <activity android:exported="true" android:name=".checkout.AddressActivity" />
        <activity android:exported="true" android:name=".checkout.ShippingActivity" />
        <activity android:exported="true" android:name=".checkout.PaymentActivity" />
        <activity android:exported="true" android:name=".search.SearchActivity" />
    </application>

</manifest>